<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Aaron's Adoption</title>
</head>
<body>
    <% if (user === undefined) { %>

    <% } else if (user.isAdmin) { %> 
        <div id="adminPanel" class="alert alert-secondary" role="alert">
            <span id="panelButtons">
                <a href="/addBlogPost"><button type="button" class="btn btn-primary">Front Page Post</button></a>
                <button type="button" class="btn btn-primary">Check Adoption Requests</button>
                <button type="button" class="btn btn-primary">Manage User Privileges</button>
            </span>
        </div>
    <% } %>

    <% blogs.forEach((i, idx) => { %>
        <div id="blogData">
            <div class="flex-container">
                <h1 id="blogTitle" class="display-4 blog"> 
                    <%= i.blogTitle %>
                </h1>
                    <% if (user === undefined) { %> 

                    <% } else if (user.isAdmin) { %>
                        <div class="optionButtons">
                            <form action="/blogPost/delete/<%= i._id %>" method="post"><button type="submit" class="btn btn-danger"> Delete</button></form>
                            <a href="/blogPost/<%= i._id %>"><button type="button" class="btn btn-secondary">Edit</button></a>
                        </div>
                    <% } %>     
            </div>
            <hr>
            <p class="blog" id="blogBody"> <%= i.blogText %> </p>
            <hr>

            <% if (i.blogPictures.length != 0) { %>
            <div id=<%="blogCarousel" + idx %> class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="blogImg center d-block w-100" src=<%="/uploads/images/" + i.blogPictures[0].originalname %>>
                    </div>
                    <% for (let idx = 1; idx < i.blogPictures.length; idx++) { %>
                        <div class="carousel-item">
                            <img class="blogImg center d-block w-100" src=<%="/uploads/images/" + i.blogPictures[idx].originalname %>>
                        </div>
                    <% } %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target=<%="#blogCarousel" + idx %> data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target=<%="#blogCarousel" + idx %> data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <% } else {} %>
        </div>
    <% }) %>
</body>
</html>