<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userProfileStyle.css">
    <title>User Profile</title>
</head>

<body>
    <div class="userProfileContainer">
        <p id="userProfileTitle">Below is your current user information, you may update it as you please.</p>
        <form action="/userProfile/edit/<%= user._id %>" method="POST">
            <ul class="list-group">
                <li class="list-group-item">Full Name: 
                    <div class="form-floating mb-3"><input type="text" class="form-control" name="fullName" id="fullNameBox" placeholder="<%= user.fullName %>"></div>
                </li>
                <li class="list-group-item">Address:
                    <div class="form-floating mb-3"><input type="text" class="form-control" name="address" id="addressBox" placeholder="<%= user.address %>"></div>
                </li>
                <li class="list-group-item">Phone Number:
                    <div class="form-floating mb-3"><input type="number" class="form-control" name="phoneNumber" id="" placeholder="<%= user.phoneNumber %>"></div>
                </li>
                <li class="list-group-item">Email: 
                    <div class="form-floating mb-3"><input type="email" class="form-control" name="email" id="floatingInput" placeholder="<%= user.email %>" disabled></div>
                </li>
                <li class="list-group-item">Gender:
                    <div class="form-floating mb-3"><input type="text" class="form-control" name="gender" id="floatingInput" placeholder="<%= user.gender %>"></div>
                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
                </li>
            </ul>
        </form>
    </div>
</body>
</html>